:root {
  --color: #839aff;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: MavenPRO;
}

.App {
  min-height: 100vh;
}
.App * {
  color: black;
  font-size: 20px;
}

.header {
  background-color: var(--color);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header svg {
  transform: scale(1.5);
}

@font-face {
  font-family: MavenPRO;
  src: url("./fonts/MavenPro-Regular.ttf");
}

.big_text {
  font-family: MavenPRO;
  text-align: center;
  font-size: 80px;
  color: var(--color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.github_link {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_container {
  width: 250px;
  height: 80px;
  border: var(--color) 3px solid;
  border-radius: 10px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease-in;
  cursor: pointer;
}
.link_container svg {
  width: 40px;
}

.link_container:hover {
  background-color: var(--color);
}

.link_container:hover svg path {
  fill: white;
}

.link_container a {
  text-decoration: none;
  font-size: 30px;
  color: var(--color);
}

.link_container:hover a {
  color: white;
}

.contributers {
  font-size: 30px;
  text-align: center;
  color: var(--color);
}

@media screen and (max-width: 1000px) {
  .link_container {
    height: 60px;
    width: 33%;
    min-width: 250px;
  }
  .link_container svg {
    height: 30px;
  }
  .header {
    height: 90px;
  }
  .header svg {
    transform: scale(0.9);
  }
  .big_text {
    text-align: center;
    font-size: 60px;
    color: var(--color);
    margin-top: 10px;
    margin-bottom: 10px;
  }
} ;
